version: '3'

services:
  manga-db:
    image: bitnami/postgresql:latest # Should tag version later
    ports:
      - '5483:5432'
    environment:
      - POSTGRES_DB=${MANGA_DB_NAME}
      - POSTGRES_USER=${MANGA_DB_USER}
      - POSTGRES_PASSWORD=${MANGA_DB_PASSWORD}
    # volumes:
    #   - ./docker/mangas:/docker-entrypoint-initdb.d


  # MANGA <-> Scraper
  manga-broker:
    image: rabbitmq
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_DEFAULT_USER}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_DEFAULT_PASS}
      # - RABBITMQ_DEFAULT_VHOST=${RABBITMQ_DEFAULT_VHOST}
    ports:
      - 5672:5672
      - 15672:15672
    volumes:
      - broker-data:/var/lib/rabbitmq/
      # - broker-logs:/var/log/rabbitmq
    networks:
      - manga

networks:
  - manga

volumes:
  broker-data:
  # broker-logs:
