services:
  # INFO: Raplced with SQLite
  # manga-db: 
  #   image: bitnami/postgresql:latest # Should tag version later
  #   ports:
  #     - '5483:5432'
  #   environment:
  #     - POSTGRES_DB=${MANGA_DB_NAME}
  #     - POSTGRES_USER=${MANGA_DB_USER}
  #     - POSTGRES_PASSWORD=${MANGA_DB_PASSWORD}
  #   volumes:
  #     - ./docker/mangas:/docker-entrypoint-initdb.d

  manga-cache:
    image: redis:7.4-alpine
    ports:
      - 6379:6379
      - 8001:8001
    environment:
      - REDIS_DISABLE_COMMANDS=FLUSHDB,FLUSHALL
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    volumes:
      - 'redis_data:/bitnami/redis/data'

  # MANGA <-> Scraper
  manga-broker:
    image: rabbitmq:4.2.2-management
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_DEFAULT_USER}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_DEFAULT_PASS}
      # - RABBITMQ_DEFAULT_VHOST=${RABBITMQ_DEFAULT_VHOST}
    ports:
      - 5672:5672
      - 15672:15672 # UI
    volumes:
      - broker-data:/var/lib/rabbitmq/
      - './docker/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf'
      # - broker-logs:/var/log/rabbitmq
    networks:
      - manga

networks:
  manga:

volumes:
  redis_data:
    driver: local
  broker-data:
  # broker-logs:
